<div id="<%= dom_id user %>">
  <p>
    <strong>Username:</strong>
    <%= user.username %>
  </p>

  <% if user.status == nil or user.status == false %>
    <span class="badge bg-secondary">Closed</span>
  <% end %>

</div>
